<div class="container">
    <h2>User info</h2>
    <% if @user.errors.any? %>
        <div class="error">
            <h4><%= @user.errors.count %>errors prohibited this user from being saved:</h4>
            <ul class="error-box">
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= form_with model: (@user) do |f| %>
        <div>
    	    <div class="edit-box">
    		    <%= f.label :title, "Name" %>
    		    <%= f.text_field :name %>
    	    </div>
    	    <div class="edit-box">
    		    <%= f.label :title, "Image" %>
    		    <%= f.attachment_field :profile_image %>
    	    </div>
		    <div class="edit-box">
		        <%= f.label :title, "Introduction" %>
		        <%= f.text_area :introduction %>
		    </div>
	    </div>
	    <%= f.submit 'Update User' %>
    <% end %>
</div>
