<h1>User info</h1>
<% if @user.errors.any? %>
    <div class="error">
        <h4 class="error-title"><%= @user.errors.count %>errors prohibited this user from being saved:</h4>
        <ul class="error-box">
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<%= form_for(@user) do |f| %>
    <div class="box">
    	<div>
    		<%= f.label :title, "Name" %>
    		<%= f.text_field :name %>
    	</div>
    	<div>
    		<%= f.label :title, "Image" %>
    		<%= f.attachment_field :profile_image %>
    	</div>
		<div>
		    <%= f.label :title, "Introduction" %>
		    <%= f.text_area :introduction %>
		</div>
	</div>
	<%= f.submit 'Update Book' ,class: "btn btn-info" %>
<% end %>
