<div class="top">
<%= render 'books/sidebar', book: @book %>
<!-- <div class="container">
	<div class="row">
		<div class="col-xs-3"> -->
<!-- 			<div>
				<h2>User info</h2>
			</div>
			<div>
				<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
			</div>
			<table>
				<tbody>
					<tr>
						<th>name</th>
						<th>名前</th>
					</tr>
					<tr>
						<th>introduction</th>
						<th>自己紹介</th>
					</tr>
				</tbody>
			</table>
			<div classa="btn btn-info">
					<%= link_to edit_user_path(current_user.id) , class: "btn btn-success" do %>
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
					<% end %>
			</div>
			<h2>New book</h2>
			<%= form_for(books_path) do |f| %>
			    <div class="box field">
			    	<div>
			    		<%= f.label :title, "Titele" %>
			    	</div>
			    	<div>
			    		<%= f.text_field :title %>
			    	</div>
			    </div>
			    <div class="box">
			    	<div>
			    		<%= f.label :title, "Opinion" %>
			    	</div>
			    	<div>
			    		<%= f.text_area :body %>
			    	</div>
			    </div>
			    <%= f.submit 'Create Book' ,class:"submit" %>
			<% end %>
		</div> -->
<!-- 		<div class="col-xs-9"> -->

            <h1>Users</h1>
            <table>
				<thead>
					<tr>
						<th>image</th>
						<th>name</th>
						<th></th>
					</tr>
				</thead>
				<% @users.each do |user| %>
				<tbody>
					<tr class="list-back">
						<td class="list"><%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %></td>
						<th class="list">
							<%= user.name %>
						</th>
						<th class="list"><%= link_to "Show", user_path(user) ,class: "list-aitem" %></th>
					</tr>
				</tbody>
				<% end %>
			</table>

            </div>
        </div>
    </div>
</div>