<div class="edit-wid">
<h1>Editing Book</h1>
<% if @book.errors.any? %>
    <div class="error">
        <h4><%= @book.errors.count %> errors prohibited this user from being saved:</h4>
        <ul class="error-box">
            <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<%= form_for(@book) do |f| %>
    <div>
    	<div class="edit-box">
    		<%= f.label :title, "Titele" %>
    		<%= f.text_field :title ,class:"w-100" %>
    	</div>
		<div class="edit-box">
		    <%= f.label :title, "Titele" %>
		    <%= f.text_area :body ,class:"w-100"%>
		</div>
	</div>
	<%= f.submit 'Update Book' ,class: "btn btn-primary w-100 border" %>
	<%= link_to "Show", book_path(@book) ,class:"action" %>
	<p class="action"> | </p>
	<%= link_to "Back", books_path ,class:"action" %>
<% end %>
</diV>
