<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div class="header">
      <div class="header-box">
        <p class="header-title">Bookers</p>
        <ul class="header-list">
          <% if user_signed_in? %>
              <li class="header-aitem">
                <%= link_to user_path(current_user.id),class: "aitem" do %>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <p class="header-aitem-a">Home</p>
                <% end %>
              </li>
              <li class="header-aitem">
                <%= link_to users_path,class: "aitem" do %>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <p class="header-aitem-a">Users</p>
                <% end %>
              </li>
              <li class="header-aitem">
                <%= link_to books_path,class: "aitem" do %>
                <span class="glyphicon glyphicon-book header-aitem-a" aria-hidden="true"></span>
                <p class="header-aitem-a">Books</p>
                <% end %>
              </li>
              <li class="header-aitem">
                <%= link_to destroy_user_session_path, method: :delete,class: "aitem"  do %>
                <span class="glyphicon glyphicon-log-out header-aitem-a" aria-hidden="true"></span>
                <p class="header-aitem-a">logout</p>
                <% end %>
              </li>



          <% else %>
              <li class="header-aitem">
                <%= link_to "/",class: "aitem" do %>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <p class="header-aitem-a">Home</p>
                <% end %>
              </li>
              <li class="header-aitem">
                <%= link_to home_about_path,class: "aitem" do %>
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                <p class="header-aitem-a">About</p>
                <% end %>
              </li>
              <li class="header-aitem">
                <%= link_to new_user_registration_path,class: "aitem" do %>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <p class="header-aitem-a">sign up</p>
                <% end %>
              </li>
              <li class="header-aitem">
                <%= link_to new_user_session_path,class: "aitem" do %>
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                <p class="header-aitem-a">login</p>
                <% end %>
              </li>
          <% end %>
        </ul>
      </div>
     </div>
    <%= yield %>
    <footer>
       <p>CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
